fastapi
uvicorn
pydantic
sqlalchemy
pymysql
fastapi
uvicorn
pydantic
sqlalchemy
pymysql
passlib
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
python-multipart
email-validator
fastapi-mail
stripe
openai
